config.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/*
TG_BOT_TOKEN.session
thunderbot.db
thunderbot.session
thunderbot.session-journal
thunderbot/__pycache__/*
thunderbot/plugins/__pycache__/*
thunderbot/plugins/sql_helper/__pycache__/*
thunderbot/plugins/lightningbot/__pycache__/*
thunderbot/plugins/lightningbot/sql/__pycache__/*
thunderbot/plugins/lightningbot/pmsparkbot/__pycache__/*
.progress
.vscode/*
bin/*
venv
*.pyc
